@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oswald&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    flex-wrap: nowrap;
}

body {
    background-color: #201f1f;
    overflow-x: hidden;
    margin: 0;
}

body h1 {
    text-align: center;
    padding: 35px;
    margin-top: 25px;
    text-transform: uppercase;
}

.bg-container-header {
    background-image: url(../../assets/cidade.png);
    height: 50vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 0;
}


.bg-container-header h1 {
    color: #fff;
    color: #fff;
    padding: 10px;
    border: 3px solid #fff;
    font-size: 3rem;
    z-index: 1;
    filter: brightness(200%);
}

.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contato-container h2 {
    padding: 30px;
}

.contato-container hr {
    height: 100px;
    width: 1px;
}

.boxes-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    gap: 25px;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
    width: 100%;
}

.box-container {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
    margin-top: 15px;
    align-items: center;
    padding: 35px;
    margin-bottom: 55px;
}

form input {
    width: 450px;
    background-color: #474343;
    padding: 10px;
    text-align: start;
}

form textarea {
    max-width: 450px;
    background-color: #474343;
    padding: 10px;
    text-align: start;

}

form button {
    width: 150px;
    height: 40px;
    background-color: #474343;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #121542;
    height: 25vh;
    justify-content: space-between;
}

footer img {
    width: 35px;
}

.footer-links-container {
    display: flex;
    align-items: center;
    gap: 250px;
    margin-bottom: 35px;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.links-container {
    display: flex;
    gap: 30px;
    position: relative;
}

.links-container li  {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.menu-container {
    position: absolute;
    z-index: 999;
    top: 55px;
    right: 55px;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    
    text-align: center;
    align-items: center;
    justify-content: center;
}


.container-mensagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 50px 0;
    position: relative;
}
.mensagens-container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.mensagem-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 4px;
    background-color: #474343;
    width: 250px;
    margin: 25px;
    transition: transform 0.3s ease;
}

.mensagem-container.hide-left {
    transform: translateX(-100%);
}

.mensagem-container.hide-right {
    transform: translateX(100%);
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    z-index: 1;
}

.next {
    right: 0;
    
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

.dropdown-container {
    position:absolute;
    display: flex;
    flex-direction: column;
    top: 105px;
    right: 45px;
    background-color: #474343;
    padding: 19px;
    border-radius: 3px;
    z-index: 999;
    gap: 19px;
}

@media (max-width: 1280px) {
    .bg-container-header h1 {
        font-size: 2rem;
    }

    .boxes-container {
        flex-direction: column;
        gap: 55px;
    }

    .boxes-container hr {
        height: 1px;
        width: 50%;
    }

    .contato-container form input {
        width: 80%;
    }

    .contato-container form textarea {
        width: 80%;
    }

    footer {
        flex-wrap: nowrap;
        height: auto;
    }

    .footer-links-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 55px;
    }
}

@media (max-width: 660px) {
    .contato-container form input {
        width: 70%;
    }

    .contato-container form textarea {
        max-width: 70%;
    }

    .links-container {
        display: none;
    }
}

.textDropdown {
    padding: 5px;
}

.textDropdown:hover {
    background-color: #5d5858;
    
} 

